{% extends "base.html" %}


{% block content %}

<h1>Listener Leaderboard</h1>

<div class="container">
	<table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Ranking</th>
                    <th scope="col">Listener</th>
                    </tr>
                </thead>
                <tbody>
                	{% for results in leaderboard_results %}
                	<tr>
                		<td>{{leaderboard_results.ranking }}</td> 
                		<td>{{leaderboard_results.listener}}</td>
                	</tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}

